[Unit]
Description=furbot IRC bot
After=network.target

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=furbot
WorkingDirectory=/home/smc/furbot
Environment="RACK_ENV=production"
ExecStart=/usr/local/bin/bundle exec ruby furbot.rb
#Restart=on-failure

[Install]
WantedBy=multi-user.target
